<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
  <meta charset="UTF-8">
  <title id="pageTitle">Owners</title>
</head>
<body>
<h2 th:text="'List of Owners'">Owners</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>City</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Pets</th>
  </tr>
  </thead>
  <tbody th:each="owner : ${owners}">
  <tr th:remove="all">
    <td>99</td>
    <td>John</td>
    <td>Snow</td>
    <td>City</td>
    <td>Address</td>
    <td>Phone</td>
    <td>None</td>
  </tr>
  <tr th:remove="all">
    <td>100</td>
    <td>Lisa</td>
    <td>Snow</td>
    <td>City</td>
    <td>Address</td>
    <td>Phone</td>
    <td>None</td>
  </tr>
  <tr>
    <td th:text="${owner.id}">101</td>
    <td th:text="${owner.firstName}">Betsy</td>
    <td th:text="${owner.lastName}">Snow</td>
    <td th:text="${owner.city}">City</td>
    <td th:text="${owner.address}">Address</td>
    <td th:text="${owner.telephone}">Phone</td>
    <td th:text="${owner.petNames}">Pet Names</td>
  </tr>
  </tbody>
</table>
<a class="btn btn-default" th:href="@{/owners/find}">Find Owner</a>
</body>
</html>
