<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
  <meta charset="UTF-8">
  <title>Owners</title>
</head>
<body>
<h2 th:text="'List of Owners'">Owners</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>last Name</th>
  </tr>
  </thead>
  <tbody th:each="owner : ${owners}">
  <tr th:remove="all">
    <td>99</td>
    <td>John</td>
    <td>Snow</td>
  </tr>
  <tr th:remove="all">
    <td>100</td>
    <td>Lisa</td>
    <td>Snow</td>
  </tr>
  <tr>
    <td th:text="${owner.id}">101</td>
    <td th:text="${owner.firstName}">Betsy</td>
    <td th:text="${owner.lastName}">Snow</td>
  </tr>
  </tbody>
</table>

</body>
</html>
