<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vets</title>
</head>
<body>
<h1 th:text="'List of Vets'">Vets</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>last Name</th>
  </tr>
  </thead>
  <tbody th:each="vet : ${vets}">
  <tr th:remove="all">
    <td>99</td>
    <td>John</td>
    <td>Snow</td>
  </tr>
  <tr th:remove="all">
    <td>100</td>
    <td>Lisa</td>
    <td>Snow</td>
  </tr>
  <tr>
    <td th:text="${vet.id}">101</td>
    <td th:text="${vet.firstName}">Betsy</td>
    <td th:text="${vet.lastName}">Snow</td>
  </tr>
  </tbody>
</table>

</body>
</html>
